<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/emojione@4.5.0/assets/css/emojione.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">


</head>
<body style="text-align: center; font-family: 'Nunito', sans-serif;">
<style>body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-weight: 300;
}

.button {
  padding: 1rem;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 2rem;
}



.emoji-choices {
  list-style: none;
  padding: 0;
  text-align: center;
}

@media (min-width: 900px) {
  .emoji-choices {
      display: flex;
      max-width: 1000px;
      margin: auto;
  }
}

.choice {
  margin-top: 3rem;
}

@media (min-width: 900px) {
  .choice {
      width: 20vw;
  }
}

.emoji {
  font-size: 1.5rem;
  transition: font-size 300ms ease;
  cursor: pointer;
  margin: 0;
}

.emoji-selected {
  font-size: 2rem;
}

.reaction {
  font-size: 1rem;
  opacity: 0;
}

.reaction-fade-in {
  animation: fadeIn 300ms ease;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.question {
  margin-top: 1rem;
}

</style>

<div class="question" id="question-1">
  <h1>How was your overall experience?</h1>
  <ul class="emoji-choices">
      <li class="choice" data-value="5">
          <p class="emoji">1<i class="em em-heart_eyes"></i></p>
          <p class="reaction">I can't wait to tell everyone I know about this!</p>
      </li>
      <li class="choice" data-value="4">
          <p class="emoji">2<i class="em em-smile"></i></p>
          <p class="reaction">Thanks! I really enjoyed it.</p>
      </li>
      <li class="choice" data-value="3">
          <p class="emoji">3<i class="em em-neutral_face"></i></p>
          <p class="reaction">Meh. I could take it or leave it.</p>
      </li>
      <li class="choice" data-value="2">
          <p class="emoji">4<i class="em em-disappointed"></i></p>
          <p class="reaction">I had such high hopes, but ultimately it was disappointing.</p>
      </li>
      <li class="choice" data-value="1">
          <p class="emoji">5<i class="em em-angry"></i></p>
          <p class="reaction">I can't believe I wasted money on this!</p>
      </li>
  </ul>
  <a class="answer-submit button" href="#">Submit Answer</a>
</div>

<div class="question hide" id="question-2">
  <h1>How was our customer service?</h1>
  <!-- Similar list structure as in question-1 -->
</div>

<div class="question hide" id="question-3">
  <h1>Was the product what you expected?</h1>
  <!-- Similar list structure as in question-1 -->
</div>

<div class="summary hide" id="amazing">
  <h2>Thanks for taking our survey! Your feedback helps us make better products.</h2>
  <h3>We are SO happy that you enjoyed your experience with our product! Please share it with everyone you know!</h3>
</div>

<!-- Similar summaries for 'good', 'okay', 'disappointing', 'terrible' -->


<!-- Other summaries go here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('.choice').on('click', function () {
  var $this = $(this);
  
  $('.reaction').removeClass('reaction-fade-in');
  $('.emoji').removeClass('emoji-selected');
  $this.find('.reaction').addClass('reaction-fade-in');
  $this.find('.emoji').addClass('emoji-selected');
    
});


$('#question-1 .choice').on('click', function() {
  var ranking1 = $(this).attr('data-value');
  
  $('.answer-submit').on('click', function() {
    sessionStorage.setItem('ranking1', ranking1);
    $('#question-2').removeClass('hide');
    $('#question-1').addClass('hide');
  });
});


$('#question-2 .choice').on('click', function() {
  var ranking2 = $(this).attr('data-value');
  
  $('.answer-submit').on('click', function() {
    sessionStorage.setItem('ranking2', ranking2);
    $('#question-3').removeClass('hide');
    $('#question-2').addClass('hide');
  });
});



$('#question-3 .choice').on('click', function() {
  var ranking3 = $(this).attr('data-value');
  
  $('.answer-submit').on('click', function() {
    sessionStorage.setItem('ranking3', ranking3);
    $('#question-3').addClass('hide');
    $('.summary').removeClass('hide');
    
    var total;
    
    function calculateTotal() {
  
      var ranking1 = sessionStorage.getItem('ranking1');
      var ranking2 = sessionStorage.getItem('ranking2');
      var ranking3 = sessionStorage.getItem('ranking3');
      var total = parseInt(ranking1) + parseInt(ranking2) + parseInt(ranking3);

        if (total >= 14) {
          $('#amazing').removeClass('hide');
        } else if ((total < 14) && (total > 10 )) {
          $('#good').removeClass('hide');
        } else if ((total < 11) && (total > 7 )) {
          $('#okay').removeClass('hide');
        } else if ((total < 8) && (total > 4 )) {
          $('#disappointing').removeClass('hide');
        } else {
          $('#terrible').removeClass('hide');
        }
      }
      
      // if (total > 13) {
      //   $('#amazing').removeClass('hide');
      // }
    
    calculateTotal();
    
    
      
    
});
});



</script>

</body>
</html>
